@charset "UTF-8";
body {
  margin: 0;
}

.common_subtitle {
  margin: 0 auto;
  margin-bottom: 40px;
}

.common_section {
  padding: 70px 5%;
  margin: 0 auto;
}

header {
  height: 60px;
  padding: 0 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header_title h1 a {
  text-decoration: none;
  color: black;
}

header .header_title h1 a:hover {
  color: #e11c40;
}

header nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav ul li a {
  text-decoration: none;
  color: black;
  margin-left: 30px;
}

header nav ul li a:hover {
  color: #e11c40;
}

.firstview {
  height: 664px;
  width: 100%;
  background-size: cover;
  background-image: url("../img/img7.jpg");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.firstview .firstview_title h1 {
  color: white;
}

.firstview .firstview_title h1 span {
  font-size: 60px;
}

.aboutme {
  padding: 70px 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.aboutme .aboutme_img　img {
  width: 536px;
  height: 333px;
}

.aboutme .aboutme_img　img h2 {
  -webkit-margin-before: 0;
          margin-block-start: 0;
}

.aboutme .aboutme_img　img ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  margin-top: 0;
}

.aboutme .aboutme_img　img ul li {
  margin-right: 20px;
}

.aboutme .aboutme_img　img ul li a {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.aboutme .aboutme_img　img ul li a:hover {
  fill: #e65f78;
}

.skill {
  background: gray;
}

.skill .skill_title {
  height: 50px;
  background: black;
}

.skill .skill_content {
  height: 400px;
  background: black;
}

.works {
  background: gold;
}

.works .works_title {
  height: 50px;
  background: black;
}

.works ul {
  height: 400px;
  background: black;
}

.timeline {
  background: fuchsia;
}

.timeline .timeline_title {
  height: 50px;
  background: black;
}

.timeline .timeline_content {
  height: 400px;
  background: black;
}

.contact {
  background: aqua;
}

.contact .contact_title {
  height: 50px;
  background: black;
}

.contact .form {
  height: 400px;
  background: black;
}

footer {
  padding: 20px 0;
  background: navy;
}

footer ul {
  width: 400px;
  height: 50px;
  background: black;
  margin: 0 auto;
}

footer p {
  text-align: center;
}
/*# sourceMappingURL=stylesheet.css.map */