body {
  margin: 0;
}

.common_subtitle {
  margin: 0 auto;
  margin-bottom: 40px;
}

.common_section {
  padding: 70px 5%;
  margin: 0 auto;
}

header{
  height: 60px;
  padding: 0 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .header_title h1 a{
      text-decoration: none;
      color: black;
      &:hover{
        color: #e11c40;
      }
  }
  nav ul {
    list-style: none;
    display: flex;
    li a{
        text-decoration: none;
        color: black;
        margin-left: 30px;
        &:hover{
          color: #e11c40;
        }
    }
  }
}

.firstview{
  height: 664px;
  width: 100%;
  background-size: cover;
  background-image: url("../img/img7.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  .firstview_title h1 {
      color: white;
    span{
      font-size: 60px;
    }
  }
}

.aboutme{
  padding: 70px 5%;
  display: flex;
  justify-content: space-between;
  .aboutme_img　img{
    width: 536px;
    height: 333px;
    h2{
      margin-block-start: 0;
    }
    ul{
      list-style: none;
      display: flex;
      padding-inline-start: 0;
      margin-block-end: 0;
      margin-top: 0;
      li{
        margin-right: 20px;
        a{
          transition: all 0.3s ease 0s;
          &:hover{
            fill: #e65f78;
          }
        }
      }
    }
  }
}

.skill{
  background: gray;
  .skill_title{
    height: 50px;
    background: black;
  }
  .skill_content{
    height: 400px;
    background: black;
  }
}

.works{
  background: gold;
  .works_title{
    height: 50px;
    background: black;
  }
  ul{
    height: 400px;
    background: black;
  }
}

.timeline{
  background: fuchsia;
  .timeline_title{
    height: 50px;
    background: black;
  }
  .timeline_content{
    height: 400px;
    background: black;
  }
}

.contact{
  background: aqua;
  .contact_title{
    height: 50px;
    background: black;
  }
  .form{
    height: 400px;
    background: black;
  }
}

footer{
  padding: 20px 0;
  background: navy;
  ul{
    width: 400px;
    height: 50px;
    background: black;
    margin: 0 auto;
  }
  p{
    text-align: center;
  }
}
